:root {
  --primary-color: #fff;
}
body {
  background-color: var(--primary-color);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  font-weight: bold;
  color: inherit;
}
a:hover {
  color: inherit;
}
.my-content {
  margin: 3em auto;
}
.justify {
  text-align: justify;
}
name {
  font-size: 1.5em;
  border-bottom: solid 0.75em #333;
}
.blocker {
  border-right: solid 1em #333;
  padding-right: 1em;
}
.thicker {
  font-weight: 500;
}
.sub {
  font-style: italic;
}
.icon img {
	height: 1em;
	margin-right: 6px;
}
.avatar {
	margin-top: 2em;
}
.avatar img {
	width: 200px;
	border-radius: 50%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
project {
  display: block;
  margin-bottom: 1em;
}
inspiration p {
  font-weight: lighter;
  text-align: right;
}
inspiration p a {
  font-weight: lighter;
  font-style: italic;
}
